.body {
  font-family: 'Muli', sans-serif;
}
.notification-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px #b6b6b6;
}
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  margin-right: 5px;
  margin-left: 5px;
}
.check-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timeslot-dropdown {
  margin-left: 5px;
  width: 15vw;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.filtername-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
}
.filter-dropdown {
  min-width: 22vw;
  max-width: 30vw;
  margin-left: 5px;
}

.button-delete {
  margin-left: 10px;
  width: 100%;
}
.media-dropdown {
  width: 12vw;
}
