.alertbox {
  word-wrap: break-word;
  width: var(--alertbox-width);
  background-color: white;
  text-align: left;
  padding: 10px;
  margin-left: calc(calc(100vw - var(--alertbox-width)) * 0.5);
  box-shadow: 0px 1px 5px 1px #c5c5df;
}

.container {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
}
