.header {
    text-align: center;
    display: grid;
    grid-template-columns: 20vw auto 13vw 13vw 13vw;
    grid-template-areas: "logo . notificationProfiles filters user";
    grid-template-rows: minmax(70px, var(--header-height));
    background-color: var(--primary);
    align-items: center;
}

.header p {
  margin: 0;
}

#logo {
    grid-area: logo;
    --logomargin: 0.7vh;
    margin-top: calc(var(--logomargin));
    margin-left: calc(var(--logomargin) * 2);
}

#logo{
    height: 60px;
}

.headerbutton {
    text-align: center;
    text-decoration: none;
    margin-top: auto;
    width: 90%;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
}
 #header-user {
    grid-area: user;
    position: relative;
}

#header-filters {
    grid-area: filters;
}

#header-notificationProfiles {
    grid-area: notificationProfiles;
}

#header-user:hover, #header-notificationProfiles:hover, #header-logout:hover, #header-filters:hover, #header-profiles:hover {
    color: var(--secondary);
}


/* Dropdown Menu */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: absolute;
    align-items: center;
    display: inline-block;
}

.dropdown-content {
    margin-left: calc(calc(13vw - 100px) / 2);
    min-width: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding-top: 20px;
    display: none;
    position: absolute;
    background-color: var(--primary);
    z-index: 1;

}

.dropdown-button {
    margin: 0.7vh;
    height: 2em;
    display: block;
    background-color: var(--primary);
    text-align: center;
    padding: 0;
}



/* Responsive Design */

@media only screen and (max-width: 600px) {

    .header {
        grid-template-columns: 20vw auto auto auto;
        grid-template-areas: "logo notificationProfiles filters user";
    }
  }