.WrappingDiv {
  display: grid;
  grid-template-areas: "filter"
  "preview";
}

.filterBuilding-div {
  color: var(--primary-darker);
  width: 60vw;
  height: auto;
  margin: auto;
  grid-area: filter;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px #c5c5df;
  margin-top: 5vh;
}

.filterHeader {
  color:var(--primary);
}

.ButtonDiv {
  display: grid;
  grid-template-areas: ". preview create";
  grid-template-columns: 30% auto auto;
  margin-bottom: 20px;
}

.create {
  align-items: flex-end;
  grid-area: create;
  margin-left: auto;
}
.ButtonDiv .MuiButton-containedPrimary {
  color: #fff;
  background-color: var(--primary);
}

.preview {
  grid-area: preview;
}

.InputWrapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.FilterTableDiv {
  width: 40% !important;
}

.NameFieldDiv {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.ReactTable {
  grid-area: preview;
  margin-bottom: 30px;
}

.filterSelect {
  display: grid;
  grid-template-areas: "intruction selector";
  grid-template-columns: 30% auto;
}
.filterSelect p {
  grid-area: intruction;
}

.filterSelect div div {
  grid-area: selector;
}

.selector {
  margin-top: 10px;
}