.extra-filter-options-container {
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.extra-filter-options-container > div{
    width: 100%;
    margin: 0.5px;
}

.extra-filter-accordion {
    width: 100%;
    margin: 0.5rem 0;
    border: 3px solid #e0e0e0;
}

@media (max-width: 959px) {
    .lg-xl-source-selector, .lg-xl-tags-selector,
    .lg-xl-severity-selector, .lg-xl-filter-selector,
    .lg-xl-more-settings-item {
        display: none !important;
    }
    div[title="Filter selector"] > div {
        min-width: 18rem;
        max-width: 18em;
        flex-grow: 1;
    }
    #filter-select {
        padding-right: 0.3rem;
    }
    div[title="Filter selector"] button {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .extra-filter-options-container {
        padding: 1rem !important;
    }
    .incidents-filter-toolbar-root {
        padding: 0.7rem !important;
        box-sizing: border-box;
    }
    #filter-select-source-helper-text, #filter-select-tags-helper-text,
    .acked-state-switch > p, .open-state-switch > p {
        display: none;
    }
    .acked-state-switch, .open-state-switch{
        margin: 0.5rem 0.5rem !important;
        width: 47%;
    }
    .acked-state-switch button, .open-state-switch button{
        flex-grow: 1;
        width: calc(100%/3);
        height: 2.3rem;
    }
    .extra-filter-accordion {
        margin: 0.5rem 0.5rem !important;
    }
}

@media (max-width: 800px) {
    div[title="Filter selector"] > div {
        min-width: 16rem;
        max-width: 16em;
    }
}

@media (max-width: 730px) {
    div[title="Filter selector"] > div {
        min-width: 14rem;
        max-width: 14em;
    }
}

@media (max-width: 670px) {
    div[title="Filter selector"] > div {
        min-width: 13rem;
        max-width: 13em;
    }
}

@media (max-width: 599px) {
    div[title="Filter selector"] > div div{
        width: 24rem;
        max-width: 24em;
    }
    .acked-state-switch, .open-state-switch{
        width: 100%;
    }
    .acked-state-switch button, .open-state-switch button{
        height: 2.2rem;
    }
}

@media (max-width: 540px) {
    div[title="Filter selector"] > div div{
        width: 20rem;
        max-width: 20em;
    }
}

@media (max-width: 500px) {
    div[title="Filter selector"] > div div{
        width: 18rem;
        max-width: 18em;
    }
}

@media (max-width: 435px) {
    div[title="Filter selector"] > div div{
        width: 16rem;
        max-width: 16em;
    }
}

@media (max-width: 390px) {
    div[title="Filter selector"] > div div{
        width: 14rem;
        max-width: 14em;
    }
}

@media (max-width: 360px) {
    div[title="Filter selector"] > div div{
        width: 12rem;
        max-width: 12rem;
    }
}

@media (max-width: 300px) {
    .extra-filter-options-container {
        padding: 0.2rem !important;
    }
    div[title="Filter selector"] > div div{
        width: 11rem;
        max-width: 11rem;
    }
}