:root{
    --primary: #006D91;
    --primary-light: #0091C1;
    --primary-lighter: #EDFAFF;
    --primary-dark: #005775;
    --secondary: #F3B61F;
    --secondary-light: #F7D070;
    --secondary-dark: #9B7414;
    --background: #fff;
    --text: #434343;
    --white: #fff;
    --warning: #910041;
}