:root{
    --primary: #d81b60;
    --primary-light: #ff5c8d;
    --primary-dark: #a00037;
    --secondary: #5e0043;
    --secondary-light: #8e376e;
    --secondary-dark: #32001d;
    --background: #E1E2E1;
    --text: #434343;
}