:root{
    --primary: #19647E;
    --primary-light: #96B8C4;
    --primary-dark: #13495C;
    --secondary: #F3B61F;
    --secondary-light: #F7D070;
    --secondary-dark: #9B7414;
    --background: #fff;
    --text: #434343;
    --white: #fff;
}